<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDN_8vEbxB1ndnh-aknRGLLVgfSU8Lx6xw</string>
	<key>GCM_SENDER_ID</key>
	<string>825025547715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.elementsApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>elements-bbe3f</string>
	<key>STORAGE_BUCKET</key>
	<string>elements-bbe3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825025547715:ios:4122e85852d45d03854176</string>
</dict>
</plist>